# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db
# Virtual environments
venv/   
  $RECYCLE.BIN/
   Thumbs.db
   *.log
   *.tmp
   .DS_Store

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/